<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="pompini.ro">
    <meta name="description" content="Apa devine inteligenta. Cu ajutorul sistemelor de automatizare si control, personalizati fiecare picatura de apa">
    <meta name="keywords" content="apa inteligenta, automatizari pompe, variator de turatie, presotat electronic, control apa, controler pompe submersibile">
    <title>Pompini.ro - Izvorul dumneavoastra de Apa "Smart"</title>

    <%- include("../fragmente/head.ejs") %>

</head>
<body>

<%- include("../fragmente/header.ejs") %>



<main>


    <%- include("../fragmente/galerie-animata.ejs") %>






</main>

<%- include("../fragmente/footer.ejs") %>

</body>
</html>
