<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="pompini.ro">
    <meta name="description" content="Apa devine inteligenta. Cu ajutorul sistemelor de automatizare si control, personalizati fiecare picatura de apa">
    <meta name="keywords" content="apa inteligenta, automatizari pompe, variator de turatie, presotat electronic, control apa, controler pompe submersibile">
    <title>Pompini.ro - Izvorul dumneavoastra de Apa "Smart"</title>

    <%- include("../fragmente/head.ejs") %>

</head>
<body>

<%- include("../fragmente/header.ejs") %>



<main>


        <section id="tabel">


            <table>
                <h2>Programul nostru de lucru</h2>
                <caption id="captionTabel">Samabata, Duminica si in afara programului, manerul usii <strong>CURENTEAZA</strong></caption>
                <thead>
                <tr>
                    <th>Zi</th>
                    <th>Deschidem</th>
                    <th>Inchidem</th>
                    <th>Pauza</th>

                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Luni</td>
                    <td>09:00</td>
                    <td>17:00</td>
                    <td>13:00-14:00</td>

                </tr>
                <tr>
                    <td>Marti</td>
                    <td>09:00</td>
                    <td>17:00</td>
                    <td>13:00-14:00</td>

                </tr>
                <tr>
                    <td>Miercuri</td>
                    <td>09:00</td>
                    <td>17:00</td>
                    <td>13:00-14:00</td>

                </tr>
                <tr>
                    <td>Joi</td>
                    <td>09:00</td>
                    <td>17:00</td>
                    <td>13:00-14:00</td>

                </tr>
                <tr>
                    <td>Vineri</td>
                    <td>09:00</td>
                    <td>14:00</td>
                    <td>-</td>

                </tr>
                <tr>
                    <td>Sambata</td>
                    <td>go home!</td>
                    <td colspan="2">order online!!!</td>
                </tr>
                <tr>
                    <td>Duminica</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="4"><STRONG>NU REPARAM, NU FACEM SERVICE!!!</STRONG></td>
                </tr>
                </tfoot>
            </table>

        </section>





</main>

<%- include("../fragmente/footer.ejs") %>

</body>
</html>
