<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="pompini.ro">
    <meta name="description" content="Apa devine inteligenta. Cu ajutorul sistemelor de automatizare si control, personalizati fiecare picatura de apa">
    <meta name="keywords" content="apa inteligenta, automatizari pompe, variator de turatie, presotat electronic, control apa, controler pompe submersibile">
    <title>Preturi montaj / Servicii</title>

    <%- include("../fragmente/head.ejs") %>

</head>
<body>
    <header>
        <%- include("../fragmente/header.ejs") %>
    </header>




    <section id="servicii">

        <h2>Serviciile Noastre</h2>
        <p>Ofertele noastre de servicii cuprind:</p>
        <ul>
            <li>Montaj automatizare pentru pompe industriale</li>
            <li>Instalare automatizare pentru pompe agricole</li>
            <li>Solutii de automatizare pentru pompe rezidentiale</li>
        </ul>

    </section>


    <hr>

    <section id="tabel-preturi">
            <h2>Preturi Servicii Automatizari Pompe</h2>
            <table id="tabel-transpus" >
                <thead>
                <tr>
                    <th>Tip automatizare</th>
                    <th>Pret</th>
                    <th>Discount</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>industriala</td>
                    <td>2000 lei</td>
                    <td>10%</td>
                </tr>
                <tr>
                    <td>agricola</td>
                    <td>1500 lei</td>
                    <td>5%</td>
                </tr>
                <tr>
                    <td>rezidentiala</td>
                    <td>800 lei</td>
                    <td>2%</td>
                </tr>

                <tr>
                    <td>racheta NASA</td>
                    <td>0 lei</td>
                    <td>100%</td>
                </tr>

                </tbody>
            </table>
    </section>




</main>

<%- include("../fragmente/footer.ejs") %>

</body>
</html>
