<footer>
    <p><a href="https://www.google.com/maps/place/Facultatea+de+Matematic%C4%83+%C8%99i+Informatic%C4%83/@44.4355393,26.0970118,17z/data=!3m1!4b1!4m6!3m5!1s0x40b1ff472f47f047:0x493984726f0235f9!8m2!3d44.4355355!4d26.0995867!16s%2Fg%2F1td63tdh?entry=ttu">Adresa noastra: soseaua, etc</a></p>
    <p><i class="fa-solid fa-phone fa-beat"></i><a href="tel:+40766261333">      0766261333</a></p>
    <p><a href="https://api.whatsapp.com/send?phone=+40766261333" target="_blank">Scrie-ne pe WhatsApp!</a></p>
    <p><a href="mailto:reclamatii@pompini.ro">pentru reclamatii scrie-ne la reclamatii@pompini.ro</a></p>
    <p><small>Copyright &copy;<time datetime="2023">2023</time> pompini.ro</small></p>
    <p id="banner-print">Acesta este un proiect scolar.</p>
    <a href="#" class="back-to-top-btn" id="tooltip">
        <span class="circle"></span>
        <span class="triangle">&#5123;</span>
    </a>
</footer>