<header class="c1" id="h1">
    <h1>Magazinul de automatizari si pompe</h1>
</header>
<!-- Meniul -->
<nav>
    <!--meniul hamburger-->
    <label id="hamburger" for="ch-menu">
        <img src="/resources/img/Hamburger_icon_alb.png" alt="menu">
    </label>
    <input id="ch-menu" type="checkbox">

    <!--meniul normal-->
    <ul class="meniu">
        <li>
            <div id="acasa"><a href="/index"><i class="fa-solid fa-house"></i> Acasa</a></div>
            <div id="acasa-mediu"><a href="/index"><i class="fa-solid fa-house"></i></a></div>


        </li>
        <li>
            <div id="produse">Produse</div>
            <!-- Submeniu -->
            <ul>
                <li><a href="#pompe">Automatizari</a></li>
                <li><a href="#convertizoare">Variatoare</a></li>
                <li><a href="#presostate">Presostate</a></li>
                <li><a href="#pompe">Pompe</a></li>
            </ul>
        </li>

        <li><a href="/preturi-montaj#preturi-montaj">Preturi montaj</a></li>
        <li><a href="#tutoriale-montaj"> Tutoriale</a></li>
        <li><a href="#promotii">Promotii</a></li>

        <!-- submeniu2 -->
        <li>
            <div id="alt-submeniu">Submeniu 2</div>
            <ul>
                <li><a href="#link1">Link 1</a></li>
                <li><a href="#link2">Link 2</a></li>
                <li><a href="#link3">Link 3</a></li>
            </ul>
        </li>
        <li><a href="/#index-intrebari">Intrebari</a></li>
        <li><a href="#">Inregistrare</a></li>

    </ul>
</nav>