/* Color Theme Swatches in Hex */
.underwater-1-hex { color: #195973; }
.underwater-2-hex { color: #3BA7BF; }
.underwater-3-hex { color: #053A40; }
.underwater-4-hex { color: #63E4F2; }
.underwater-5-hex { color: #F2DC6B; }
.underwater-6-hex { color: #07D9B2; }
.underwater-7-hex { color: #DAF2C2; }

/* Color Theme Swatches in RGBA */
.underwater-1-rgba { color: rgba(25, 89, 114, 1); }
.underwater-2-rgba { color: rgba(44, 131, 165, 1); }
.underwater-3-rgba { color: rgba(59, 167, 191, 1); }
.underwater-4-rgba { color: rgba(5, 57, 63, 1); }
.underwater-5-rgba { color: rgba(99, 227, 242, 1); }
{ color: rgba(242, 219, 106, 1);}

