/* Color Theme Swatches in Hex */
.spring-flowers-1-hex {
    color: #72A9F2;
}

.spring-flowers-2-hex {
    color: #88C1F2;
}

.spring-flowers-3-hex {
    color: #467302;
}

.spring-flowers-4-hex {
    color: #465902;
}

.spring-flowers-5-hex {
    color: #EAF205;
}
