html{
    font-size: 15px;
}


body{
    --spatiere-pagina: 30px;
    --padding-sectiune: 10px;
}

.continut-tabel {
    font-size: 2vw;
    width: 90vw;
}

#grid-pagina{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas:
        "z-banner z-banner"
        "z-tabel z-server"
        "z-evenimente z-evenimente"
        "z-anunturi z-utilizatori-online"
        " z-statistici z-utilizatori-online"
        "z-diverse z-diverse ";
}