html{
    font-size: 13px;
    transition: all 0.3s ease;
}


body{
    --spatiere-pagina: 20px;
    --padding-sectiune: 5px;
    --grid-gap: 5px;
}


.div-tabel {
    overflow-x: scroll;
    font-size: 2vw;
    width: 90vw;
}
#grid-pagina{
    display:grid;
    margin-left: var(--spatiere-pagina);
    margin-right: var(--spatiere-pagina);
    grid-gap: var(--grid-gap);
    grid-template-columns: repeat(2,1fr);
    grid-template-areas:
        "z-banner z-banner"
        "z-tabel z-server"
        "z-evenimente z-evenimente"
        "z-linkuri-video z-utilizatori-online"
        " z-galerie-statica z-utilizatori-online"
        "z-diverse z-diverse ";
}