html {
    font-size: 10px;
}


body {
    --spatiere-pagina: 5px;
    --padding-sectiune: 3px;

}



.tabel {
    border-spacing: 0;
}

#grid-pagina {
    display: block;
}

#grid-pagina>* {
    margin-bottom: 15px;
}

img {

    max-width: 400px;
}