/*Stilizare tabel versiunea mea*/
/*
#tabel th {
    border: 2px solid #ddd;
    background-color: #3BA7BF;
    color: white;
}

#tabel td, #tabel th {
    border: 1px solid #ddd;
    padding: 8px;
}


#tabel tr:nth-child(even){background-color: #f2f2f2;}

#tabel tr:hover {background-color: #ddd;}
*/

/* Stilizare  tabel versiunea din cerinte */

#tabel th {
    border: 2px solid #ddd; /*aici am pus borderul >1px decat la td*/
    padding: 12px; /*am pus si paddingul mai mare la capete de coloana*/
    background-color: var(--main-color);
    color: white;
}
#tabel {
    border-collapse: collapse; /*sa nu fie spatiere intre borders*/
    width: 100%;

}

#tabel td {
    border: 1px solid lightgrey;
    padding: 0px 8px;
    text-align: center;
}

#tabel tr:nth-child(even) {
    box-shadow: 0 1px 5px darkgrey;
}

#tabel tr:nth-child(even) td {
    color: var(--main-color);
}

#tabel tr:nth-child(odd) td {
    color: var(--main-color-t);
}

/* tranzitia de 3/4 secunde pentru rows la hover */
#tabel tr {
    transition: background-color 0.75s, font-size 0.75s;
}

#tabel tr:hover {
    background-color: #f2f2f2;
}

#tabel tr:hover td {
    font-size: 115%; /* schimb fontul la hover, mi se poare mare 20% */
}

/* ecrane mici si medii */
@media screen and (max-width: 1000px) {
    #tabel {
        overflow-x: auto; /* scrollbar orizontal pentru tabel */
        max-width: 100%;
    }
}

#tabel caption {
    caption-side: bottom;
}
