
.container-text-animat {
    width: 100%;
    overflow: hidden;
    white-space: nowrap; /* Textul va rula pe o singură linie */
}

.text-animat {
    display: inline-block;
    animation: scrollRight 10s linear infinite; /* recurentza orizontla */
    padding: 10px;
}


@keyframes scrollRight {
    0% {
        transform: translateX(-100%); /*;porneste in afara ecranului */
    }
    100% {
        transform: translateX(100%);
    }
}
