body {
    /* variabila pentru cularea de baza*/
    --main-color: #3BA7BF;
    --dark-theme: #065769FF;
    --main-color-t: rgb(4, 217, 157);
    --buton-back-color: #d9f1fd;
    /*  variabilele pentru celelalte culori */
    --background-color: #ffffff;
    --text-color: #000000FF;
    --border-color: #2D83A6;
    --highlight-color: #63E4F2;
    --complementary-color:#F2DC6B;
    --gradient-body: linear-gradient(transparent, #04d99d 30%, #04d99d 50%, #04d99d 70%, transparent);
    --padding-text: 5px 10px;
    --grey-shadow: grey;
    background-color: var(--background-color);
    color: var(--text-color);


    font-family: 'Poppins', sans-serif;


}

footer{
    background-color: var(--main-color);
    box-shadow: 0 0 20px var(--text-color);
    border-radius: 5px;
    padding: var(--padding-text);

}

header {
    background-color: var(--main-color);
    box-shadow: 0 0 20px var(--text-color);
    border-radius: 5px;
    padding: var(--padding-text);

}


